extends ../layouts/pages-layout
block title
    - var title="Assassin's creed"
block content
    header
        .ac-box
            .container-xl.p-0
                .container
                    .row
                        .col-xxl-6.col-xl-6.col-lg-6.col-md-12
                            .hero-section.pt-5
                                h1.hero-title.text-white.my-0 Assassin's creed
                                p.hero-desc.text-white.my-5 Компьютерная приключенческая серия игр с элементами стелса. Большое кол-во игр этой серии сделаны достаточно хорошо. Отметим assassin's creed 2, Unity, 3 и 4 black flag.
                                p.hero-desc.text-white Хоть они и однопользовательские впечатления прекрасны.
            .img-mobile
                img(src='./img/pic/ac-big.png')   
        main
            section.gallery.pt-5
                .container-xl.p-0
                    .container
                        h1.gallery-title Галерея
                        .swiper.mySwiper
                            .swiper-wrapper
                                .swiper-slide
                                    img(src="./img/pic/slider/terraria-slide-1.jpg", alt="")
                                .swiper-slide
                                    img(src="./img/pic/slider/terraria-slide-2.jpg", alt="")      
                            .swiper-button-next   
                            .swiper-button-prev   
            section.articles.py-5
                .container-xl.p-0
                    .container
                        h1.gallery-title Статьи
                        .row 
                            .col-md-4
                                .card
                                    .card-body
                                        img.card-img-top.mb-4(src="./img/articles/dota-article-1.png", alt="")    
                                        h5.card-title Вещи
                                        p.card-text Сколько всего вещей в Terraria?
                                        a.btn.btn-primary(href="#") Читать
                            .col-md-4 
                                .card
                                    .card-body
                                        img.card-img-top.mb-4(src="./img/articles/dota-article-2.png", alt="")    
                                        h5.card-title 1-ое прохождение
                                        p.card-text Какой класс взять для первого прохождения?
                                        a.btn.btn-primary(href="#") Читать
                            .col-md-4 
                                .card
                                    .card-body
                                        img.card-img-top.mb-4(src="./img/articles/dota-article-3.png", alt="")    
                                        h5.card-title Броня
                                        p.card-text Какую броню взять на все классы?
                                        a.btn.btn-primary(href="#") Читать
                                          
                                    

