extends ../layouts/pages-layout
block title
    - var title="Subnautica"
block content
    header.subnautica-background
        .subnautica-box
            .container-xl.p-0
                .container
                    .row
                        .col-xxl-6.col-xl-6.col-lg-6.col-md-12
                            .hero-section.pt-5
                                h1.hero-title.text-white.my-0 Subnautica
                                p.hero-desc.text-white.my-5 Subnautica - Компьютерная приключенческая с элементами выживания игра действия которой происходя на планете 4546b. Практически вся планета состоит из воды. Что предстоит продолеть нашему герою?
                                p.hero-desc.text-white Игра однопользовательская, но не исключено, что в новой субнатике будет мультиплеер...
            .img-mobile
                img(src='./img/pic/subnautica-big.png')   
        main
            section.gallery.pt-5
                .container-xl.p-0
                    .container
                        h1.gallery-title Галерея
                        .swiper.mySwiper
                            .swiper-wrapper
                                .swiper-slide
                                    img(src="./img/pic/slider/subnautica-slide-1.jpg", alt="")
                                .swiper-slide
                                    img(src="./img/pic/slider/subnautica-slide-2.jpg", alt="")
                                 .swiper-slide
                                    img(src="./img/pic/slider/subnautica-slide-3.jpg", alt="")
                                .swiper-slide
                                    img(src="./img/pic/slider/subnautica-slide-4.jpg", alt="")
                                .swiper-slide
                                    img(src="./img/pic/slider/subnautica-slide-5.jpg", alt="")      
                            .swiper-button-next   
                            .swiper-button-prev   
            section.articles.py-5
                .container-xl.p-0
                    .container
                        h1.gallery-title Статьи
                        .row 
                            .col-md-4
                                .card
                                    .card-body
                                        img.card-img-top.mb-4(src="./img/articles/dota-article-1.png", alt="")    
                                        h5.card-title Ресурсы
                                        p.card-text Разнообразие ресурсов и их место появления.
                                        a.btn.btn-primary(href="#") Читать
                            .col-md-4 
                                .card
                                    .card-body
                                        img.card-img-top.mb-4(src="./img/articles/dota-article-2.png", alt="")    
                                        h5.card-title 1-ое прохождение
                                        p.card-text С чего начинать выживание?
                                        a.btn.btn-primary(href="#") Читать
                            .col-md-4 
                                .card
                                    .card-body
                                        img.card-img-top.mb-4(src="./img/articles/dota-article-3.png", alt="")    
                                        h5.card-title Фауна
                                        p.card-text Какие твари скрываются в глубинах...
                                        a.btn.btn-primary(href="#") Читать
                                          
                                    

