*{
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: #1b1c1f;
}
.logo{
    animation: rotation 3s infinite linear;
}
.logo:hover{
    animation-play-state: paused;
}
@keyframes rotation{    
    to{
        transform: rotate(360deg);
    }
}
.navigation{
    background-color: #323335;
    border-radius: 24px;
    width: 550px;
    justify-content: center;
}
@media (max-width:991px){
    .menu-bg{
        background-color: #323335;
    }
    .menu-btn{
        background-color: #fff;
    }
    .nav-link:nth-child(2){
        margin: 0 !important;
    }
    .btn-purple{
        display: block;
    }
}
.footer-link:nth-child(2){
    margin: 0 24px;
}
.footer-link:hover{
    transform: scale(2);
}
transform-link:hover{
    transition: 1s;
}
@media(max-width: 420px){
    .first-card-row{
        flex-direction: column;
    }
    .gta-img{
        margin-bottom: 24px;
        margin-right: 0px;
    }
    .fortnite-img{
        margin: 0px;
    }
    .hero-title{
        font-size: 38px;
    }
    .footer-content{
        flex-direction: column;
    }
    .footer-link:nth-child(2){
        margin: 0;
    }
}
@media (max-width:1400px) {
    .hero-title{
        font-size: 48px;
    }
    .hero-desc{
        font-size: 20px;
    }
}
.hero-title{
    font-size: 64px;
    line-height: 1.2;
}
.hero-desc{
    line-height: 1.35;
    font-size: 24px;
}
.btn-purple{
    background-color: blue;
    padding: 16px 40px;
    transition: backround 0.2s ease-in-out;
}
.btn-purple:hover{
    background-color: aqua;
}

.gta-img {
    flex: 1.5;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 56px;
    margin-right: 8px;
    background-color: #8b72ff;
    transition: 0.2s ease-in;
}
.gta-img:hover {
    background-color:#8d46f6;
}
.fortnite-img{
    flex: 1;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius:56px ;
    margin-left: 8px;
    background-color: #e2d113;
    transition: 0.2s ease-in;
    overflow-y: clip;
}
.fortnite-img:hover{
    background-color: darkgoldenrod;
}
.dota-img{
    width: 100%;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 56px;
    background-color: #69adfd;
    transition: 0.2s ease-in;
    overflow-y: clip;
}
.dota-img img{
    object-fit: contain;
    width: 100%;
    object-position: center;
    height: 100%;
}
.dota-img:hover{
    background-color: darkviolet;
}
